.contacts {
   padding: 50px 0px;
   background-color: $color-bg;
   &__container {
      color: $font-color-invert;
      text-align: center;
   }

   &__title {
      @media (max-width: $breakpoint-tablet) {
         font-size: $font-size-semi-xl;
      }

      @media (max-width: $breakpoint-mobile) {
         font-size: $font-size-lg2;
      }
      font-size: $font-size-xxl;
      font-weight: $font-weight-bold;
      border-radius: 10px;
      border: 1px solid $color-primary;
      box-shadow: 0 0 8px 0 #814b8a, 0 0 16px 2px rgba(129, 75, 138, 0.35);
      padding: 10px 0;
      max-width: 500px;
      margin: 0 auto;
   }

   &__phones {
      @media (max-width: $breakpoint-mobile-sm) {
         font-size: $font-size-lg;
      }
      margin-top: 30px;
      font-size: $font-size-lg2;
   }

   &__phone {
   }

   &__socials {
      @media (max-width: $breakpoint-mobile-sm) {
         font-size: $font-size-lg;
      }
      margin-top: 10px;
      font-size: $font-size-lg2;
   }

   &__link {
      @media (max-width: $breakpoint-mobile-sm) {
         font-size: $font-size-lg;
      }
      margin-top: 10px;
      font-size: $font-size-lg2;
   }
}
