@import '_media';
body {
   // background-color: rgb(193, 255, 94);
   background-color: $color-bg;

   font-family: 'Manrope', sans-serif;
}
.body--no-scroll {
   overflow: hidden;
   position: fixed;
   width: 100%;
}
.wrapper {
   margin: 0 auto;
   position: relative;
}
.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}
.section {
   padding: 30px 0;
}
.callBtn {
   width: 200px;
   height: 50px;
   background-color: #285fb3;
}
::-webkit-scrollbar {
   width: 8px; /* ширина вертикального скролла */
   height: 8px; /* высота горизонтального скролла */
   background: #eeeeee00; /* фон скроллбара */
}

/* Ползунок (бегунок) */
::-webkit-scrollbar-thumb {
   background: #c983b7; /* цвет бегунка */
   border-radius: 8px;
}

/* Фон трека */
::-webkit-scrollbar-track {
   background: #d6d6d6; /* цвет дорожки */
   border-radius: 8px;
}
.fade-in-on-scroll {
   opacity: 0;
   transform: translateY(40px);
   transition: opacity 0.7s cubic-bezier(0.45, 0.1, 0.15, 1),
      transform 0.7s cubic-bezier(0.45, 0.1, 0.15, 1);

   &.visible {
      opacity: 1;
      transform: none;
   }
}
.arrow-up {
   // display: flex;
   // justify-content: center;
   // align-items: center;

   a {
      // display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
   }
   background-color: #ffffff52;
   width: 50px;
   height: 50px;
   font-size: 30px;
   border-radius: 50%;
   cursor: pointer;
   position: fixed;
   z-index: 5;
   bottom: 20px;
   right: 20px;
   transition: background-color 0.2s, opacity 0.3s cubic-bezier(0.45, 0.1, 0.15, 1),
      transform 0.3s cubic-bezier(0.45, 0.1, 0.15, 1);
   &:hover {
      background-color: #ffffff;
   }
}
