@import './media';

.header {
   background-color: $color-primary;

   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__logo {
      width: 150px;
      padding: 5px 0;

      img {
         width: 100%;
      }
   }

   &__nav {
   }

   &__nav-list {
      display: flex;
      justify-content: center;
      gap: 40px;
      font-size: $font-size-md;
      font-weight: $font-weight-semi-bold;
      color: $font-color-main;
   }

   &__nav-item {
   }

   &__contacts {
      display: flex;
      gap: 20px;
      align-items: center;
   }

   &__telegram {
      width: 40px;

      img {
         width: 100%;
      }
   }

   &__call-btn {
      font-size: $font-size-lg;
      color: $font-color-main;

      background-color: $color-bg;
      padding: 10px 20px;
      border-radius: 10px;
      border: 2px solid $font-color-main;

      cursor: pointer;
   }
}
