@import './media';

.header {
   background-color: $color-primary;
   overflow: hidden;

   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__logo {
      @media (max-width: $breakpoint-tablet) {
         width: 100px;
      }
      @media (max-width: $breakpoint-mobile-sm) {
         width: 75px;
      }
      width: 150px;
      padding: 5px 0;

      img {
         width: 100%;
      }
   }

   &__nav {
      @media (max-width: $breakpoint-tablet-xl) {
         opacity: 0;
         position: absolute;
         width: 100%;
         height: 100%;
         background: #000;
         top: -100%;
         // top: 0;
         left: 0;
         bottom: 0;
         background: linear-gradient(20deg, #c983b7 0%, #724596 80%);
         transition: top 0.4s cubic-bezier(0.6, 0, 0.4, 1);
         z-index: 2;
      }
   }
   &__nav--active {
      opacity: 1;
      top: 0;
   }
   &__nav-close {
      @media (min-width: $breakpoint-tablet-xl) {
         display: none;
      }
      width: 100%;
      display: block;
      justify-content: right;
      font-size: $font-size-semi-xl;
      font-weight: $font-weight-normal;
      color: $font-color-main;
      text-align: right;
      padding: 30px 50px 0 0;

      cursor: pointer;
      img {
         width: 30px;
         transition: transform 1s cubic-bezier(0.45, 0.1, 0.15, 1);

         &:hover {
            transform: rotate(360deg);
         }
      }
   }
   &__nav-list {
      @media (max-width: $breakpoint-tablet-xl) {
         margin-top: 40px;
         display: block;
         text-align: center;
         font-size: $font-size-xl;
         padding: 0 15px;
      }
      display: flex;
      justify-content: center;
      gap: 40px;
      font-size: $font-size-lg;
      font-weight: $font-weight-semi-bold;
      color: $font-color-main;
   }

   &__nav-item {
      @media (max-width: $breakpoint-tablet-xl) {
         margin-top: 20px;
         padding: 10px 0;
         box-shadow: 0 0 8px 0 #ffffff, 0 0 16px 2px #e5e6e72e;
         border-radius: 10px;
         border: 1px solid #ffff;
         transition: transform 0.18s cubic-bezier(0.45, 0.1, 0.15, 1);

         &:hover {
            transform: scale(1.04);
         }
      }
   }

   &__contacts {
      display: flex;
      gap: 20px;
      align-items: center;
   }

   &__telegram {
      @media (max-width: $breakpoint-tablet) {
         width: 30px;
      }
      width: 40px;

      img {
         width: 100%;
      }
   }

   &__call-btn {
      @media (max-width: $breakpoint-tablet) {
         font-size: $font-size-sm;
         border: 1px solid $font-color-main;
      }
      @media (max-width: $breakpoint-mobile-sm) {
         padding: 5px 10px;
      }
      font-size: $font-size-md;
      color: $font-color-main;

      background-color: $color-bg;
      padding: 10px 15px;
      border-radius: 10px;
      border: 2px solid $font-color-main;

      cursor: pointer;
   }

   &__menu-burger {
      display: none;
      cursor: pointer;
      @media (max-width: $breakpoint-tablet-xl) {
         display: block;
      }
      @media (max-width: $breakpoint-tablet) {
         padding-right: 0;
      }
      padding-right: 30px;
      img {
         @media (max-width: $breakpoint-tablet) {
            width: 40px;
         }
         @media (max-width: $breakpoint-mobile-sm) {
            width: 30px;
         }
         width: 50px;
      }
   }
}
