@import '_media';

.teachers {
   background-color: $color-bg;

   &__container {
      padding: 50px 10px;
   }

   &__studio-title {
      @media (max-width: $breakpoint-tablet) {
         font-size: $font-size-semi-xl;
      }

      @media (max-width: $breakpoint-mobile) {
         font-size: $font-size-lg2;
      }

      text-align: center;
      color: $color-primary;
      font-size: $font-size-xxl;
      font-weight: $font-weight-bold;
      box-shadow: 0 0 8px 0 #ffffff, 0 0 16px 2px #e5e6e72e;
      border-radius: 10px;
      border: 1px solid #ffff;
      padding: 10px 0;
   }

   &__subtitle {
      @media (max-width: $breakpoint-mobile) {
         font-size: $font-size-lg2;
      }
      @media (max-width: $breakpoint-mobile) {
         font-size: $font-size-lg2;
      }
      text-align: center;
      font-size: $font-size-xl;
      color: $font-color-main;
      margin-top: 10px;
   }
   &__cards-block-1 {
      @media (max-width: $breakpoint-tablet) {
         justify-content: center;
      }
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   &__cards-block-2 {
      @media (max-width: $breakpoint-tablet) {
         justify-content: center;
         margin-top: 20px;
         display: flex;
         flex-wrap: wrap;
      }
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
   }
   &__cards {
      // display: flex;
      // justify-content: space-around;
      // flex-wrap: wrap;
      padding: 40px 0;
      margin-bottom: 30px;
   }

   &__btn-prev {
      @media (max-width: $breakpoint-mobile) {
         justify-content: center;
         font-size: $font-size-lg;
      }
      display: none;
      gap: 15px;
      font-size: $font-size-lg2;
      text-decoration: underline dashed;
      text-underline-offset: 10px;
      color: $color-primary;
      align-items: center;
      cursor: pointer;
      transition: transform 0.5s cubic-bezier(0.45, 0.1, 0.15, 1);

      img {
         width: 50px;
      }

      &:hover {
         transform: translateX(-20px);
      }
   }
   &__btn-next {
      @media (max-width: $breakpoint-mobile) {
         justify-content: center;
         font-size: $font-size-lg;
      }
      display: flex;

      gap: 15px;
      font-size: $font-size-lg2;

      color: $color-primary;
      text-decoration: underline dashed;
      text-underline-offset: 10px;
      align-items: center;
      cursor: pointer;
      transition: transform 0.5s cubic-bezier(0.45, 0.1, 0.15, 1);

      img {
         width: 50px;
      }
      &:hover {
         transform: translateX(20px);
      }
   }

   &__link-tg {
      max-width: 350px;
      margin-top: 20px;
      transition: transform 0.3s;

      a {
         @media (max-width: $breakpoint-mobile) {
            font-size: $font-size-lg;
         }
         color: $font-color-invert;
         font-size: $font-size-lg2;
         text-decoration: underline dashed;
         text-underline-offset: 10px;
         transition: transform 0.3s;
      }

      &:hover {
         transform: scale(1.03);
      }
   }
}
.teacher-card {
   @media (max-width: $breakpoint-tablet) {
      max-width: 400px;
      height: 700px;
      padding-bottom: 20px;
      overflow: hidden;
   }
   background-color: $color-primary;
   border-radius: 20px;
   box-shadow: 0 0 8px 0 #814b8a, 0 0 16px 2px rgba(129, 75, 138, 0.35);
   max-width: 33%;
   margin-bottom: 20px;

   &__image {
      @media (max-width: $breakpoint-tablet) {
         height: 400px;
      }
      max-width: 400px;
      height: 500px;
      padding: 3px;
      img {
         border-radius: 20px;

         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__card-info {
      @media (max-width: $breakpoint-tablet) {
         max-width: 400px;
         height: 300px;
         overflow: auto;
      }
      padding: 0px 10px;
      color: $font-color-main;
      font-weight: $font-weight-semi-bold;
      max-width: 450px;
   }
   &__name {
      text-align: center;
      font-size: $font-size-xl;
      margin: 10px 0;
      color: $font-color-main;
   }

   &__intro {
      margin-top: 10px;
   }

   &__experience {
      margin-top: 10px;
   }

   &__text {
      margin-top: 10px;
   }

   &__list {
      margin-top: 10px;
   }

   &__item {
      margin-top: 10px;
   }

   &__skills {
      margin-top: 10px;
   }

   &__help {
      margin-top: 10px;
   }

   &__specials {
      margin-top: 10px;
   }

   &__list--inline {
      margin-top: 10px;
   }
}

.teacher-card:last-child {
   margin-bottom: 0;
}
.close-teachers-block {
   display: none;
}
